html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Element styling */

h1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

h3 {
    margin-top: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.webpage {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr 5fr;
}

/* Header styling */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: 1fr;
    background-color: #5F7161;
    grid-area: 1 / 1 / 2 / 3;
}

.logo {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-area: 1 / 1 / 2 / 2;
    filter: invert(100%) sepia(2%) saturate(9%)
    hue-rotate(4deg) brightness(104%) contrast(102%);
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
}

.currentTab {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: 5px;
}

/* Sidebar styling */
.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(4, 1fr) 6fr;
    background-color: #6D8B74;
    grid-area: 2 / 1 / 3 / 2;
}

.inbox {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 20px;
}

.daily {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 20px;
}

.weekly {
    grid-area: 4 / 1 / 5 / 2;
    margin-left: 20px;
}

.projects {
    grid-area: 5 / 1 / 6 / 2;
    margin-left: 20px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 6 / 1 / 7 / 2;
}

.tab {
    width:fit-content;
    cursor: pointer;
}

/* Main content styling */
.content {
    overflow-y: auto;
    background-color: #F4EAD5;
    grid-area: 2 / 2 / 3 / 3;
}

.addDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F7161;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    left: 1330px;
    top: 600px;
}

.addText {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 100px;
}

.addText:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    transform-origin: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container > .task{
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    width: 70vw;
    height: 10vh;
    min-height: 12vh;
    background-color: #5F7161;
    margin-left: 20px;
    border-radius: 20px;
}

.taskLeft {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}

.taskRight {
    display: flex;
    justify-content: end;
    column-gap: 50px;
    align-items: center;
    min-width: 30%;
}

.buttons {
    display: flex;
    justify-content: center;
    min-width: 10%;
}

.taskTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.taskDueDate {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.taskPriority {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

/* Form styling */

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.formHolder {
    visibility: hidden;
    left: 45%;
    top: 20%;
    position: absolute;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    background-color: #6D8B74;
}

.pointerEventsNone {
    pointer-events: none;
}

.icon {
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(2%) saturate(9%)
    hue-rotate(4deg) brightness(104%) contrast(102%);
    cursor: pointer;
}

.checkbox {
    width: 32px;
    height: 32px;
    /* margin: 0; */
}

textarea {
    vertical-align: top;
    resize: none;
}

label {
    color: white;
    font-size: 20px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

/* About styling */

.creditDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.greenText {
    color: #5F7161;
}

.selfCredit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherCredit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-weight: bold;
}

.link {
    display: flex;
    column-gap: 10px;
}

.link > img {
    width: 32px;
    height: 32px;
}

/* Active element styling */
.active {
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    transform-origin: bottom left;
}