html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Element styling */

h1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr 5fr;
}

/* Header styling */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: 1fr;
    background-color: #5F7161;
    grid-area: 1 / 1 / 2 / 3;
}

.logo {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-area: 1 / 1 / 2 / 2;
    filter: invert(100%) sepia(2%) saturate(9%)
    hue-rotate(4deg) brightness(104%) contrast(102%);
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
}

.currentTab {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: 5px;
}

/* Sidebar styling */
.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(4, 1fr) 6fr;
    background-color: #6D8B74;
    grid-area: 2 / 1 / 3 / 2;
}

.inbox {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 20px;
}

.daily {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 20px;
}

.weekly {
    grid-area: 4 / 1 / 5 / 2;
    margin-left: 20px;
}

.projects {
    grid-area: 5 / 1 / 6 / 2;
    margin-left: 20px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 6 / 1 / 7 / 2;
}

.tab {
    width:fit-content;
    cursor: pointer;
}

/* Main content styling */
.content {
    background-color: #F4EAD5;
    grid-area: 2 / 2 / 3 / 3;
}

/* Active element styling */
.active {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    transform-origin: bottom left;
}